.page-profile {
<<<<<<< HEAD
	background-color: #21CE99;
=======
	background-color: #12e2b9;
>>>>>>> b0a24270c7e3f853548af716d576be8656e1ca02
	font-family: "Arial";
	font-weight: bold;
	color: "dark-brown";	
}

.label-card {
	padding-left: 10px;
}
