<ion-header>
  <ion-navbar color = "dark-brown">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Penemuan</ion-title>
     <ion-buttons end>
      <button ion-button icon-end (click)="gotoNotifPage()">
        <ion-icon name="notifications"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding class="page-penemuan">

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Tarik untuk refresh"
      refreshingSpinner="circles"
      refreshingText="Melakukan refresh...">
    </ion-refresher-content>
  </ion-refresher>

<ng-container *ngFor="let post of posts">
<ion-card *ngIf="post">

  <ion-item>
    <ion-avatar item-start>
      <ion-icon name="md-contact" style="font-size: 55px; color: #d3d3d3"></ion-icon>
    </ion-avatar>
    <h2>{{post.nama}}</h2>
    <p>{{post.usernim}}</p>
  </ion-item>

  <ion-card-content>
    <h2 style="font-weight: bold;">{{post.judul}}</h2>
    <!--<p style="color: red;">{{post.jenis}}</p>-->
    <p>{{post.deskripsi}}</p>
  </ion-card-content>

  <ion-row>
    <ion-col>
      <button ion-button icon-left clear small (click)="gotoPostDetail(post)">
        <ion-icon name="ios-more"></ion-icon>
        <div>Detail</div>
      </button>
    </ion-col>
    <ion-col>
      <div ion-button icon-left color="light-grey" clear small>
        <ion-icon name="text"></ion-icon>{{post.comment_count}} Comment(s)
      </div>
    </ion-col>
    <ion-col center>
      <ion-note>
        {{post.date_time}}
      </ion-note>
    </ion-col>
  </ion-row>

</ion-card>
</ng-container>
</ion-content>
